<div style="margin: 10px;">
    <button class="btn btn-primary" (click)="pmsData()" >Promise</button>
    <button class="btn btn-primary" (click)="obsData()" >Observable</button>
    <button class="btn btn-primary" (click)="map()" >Map</button>
    <button class="btn btn-primary" (click)="filter()" >Filter</button>
    <button class="btn btn-primary" (click)="tap()" >Tap</button>
    <button class="btn btn-primary" (click)="of()" >Of operator</button>
    <button class="btn btn-primary" (click)="from()" >From</button>
</div>